<nav class="nav-bar">

  <div class="search-container">
    <button type="submit" class="search-btn">جستجو</button>
    <input id="search-input" type="text" placeholder="جستجو در محصولات...">
  </div>

  <div class="nav-container">
    <div class="nav-links">
      <a href="http://127.0.0.1:8000/home">خانه</a>
      <a href="http://127.0.0.1:8000/about">درباره ما</a>
      <a href="http://127.0.0.1:8000/contact">تماس با ما</a>
    </div>
  </div>

</nav>